In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\new folder\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.naukri.com/")

In [5]:
designation = driver.find_element(By.CLASS_NAME,"suggestor-input " )
designation.send_keys('Data Scientist')

In [6]:
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys('Delhi/NCR')

In [7]:
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [8]:
job_title=[]
job_location=[]
company_name=[]
experienced_required=[]

In [13]:
title_tags = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title = i.text
    job_title.append(title)
    
location_tags = driver.find_elements(By.XPATH,'//span[@class="loc-wrap ver-line"]/span/span')
for i in location_tags:
    location = i.text
    job_location.append(location)
    
company_tags = driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company = i.text
    company_name.append(company)

In [14]:
print(len(job_title),len(job_location),len(company_tags))

40 40 20

In [17]:
import pandas as pd
df = pd.DataFrame({'Title': job_title,'Location':job_location,'Company_name':company_name})
df

,Title,Location,Company_name
0,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware
1,Associate Data Scientist,Noida,Times Internet
2,Associate Data Scientist,Gurugram,Orange Business Services
3,Senior Data Scientist - Automation and Digital,"Prayagraj, Varanasi, Ghaziabad, Kanpur, Luckno...",Technip Energies
4,Data Scientist,Noida,Ericsson
5,Python Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Wizaltia Hr Solutions
6,Senior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Brainlabs Group Of Companies
7,Sr Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Response Informatics
8,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Response Informatics
9,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Scienaptic Systems
10,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Digital Glyde
11,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Elitefit.ai
12,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kashsam Data Solutions
13,Data Scientist (Credit Risk),"Mumbai, Gurugram",PayU
14,Data Scientist,Gurugram,Orange Business Services
15,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Newwave Technologies
16,Data Scientist,Noida,Ericsson
17,Global GI Data Scientist,Faridabad,Hitachi Energy
18,Senior Data Scientist,Noida,Innovaccer
19,Data Scientist,Noida,Times Internet
20,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Essenware
21,Associate Data Scientist,Noida,Times Internet
22,Associate Data Scientist,Gurugram,Orange Business Services
23,Senior Data Scientist - Automation and Digital,"Prayagraj, Varanasi, Ghaziabad, Kanpur, Luckno...",Technip Energies
24,Data Scientist,Noida,Ericsson
25,Python Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Wizaltia Hr Solutions
26,Senior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Brainlabs Group Of Companies
27,Sr Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Response Informatics
28,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Response Informatics
29,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Scienaptic Systems
30,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Digital Glyde
31,Lead Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Elitefit.ai
32,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Kashsam Data Solutions
33,Data Scientist (Credit Risk),"Mumbai, Gurugram",PayU
34,Data Scientist,Gurugram,Orange Business Services
35,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",Newwave Technologies
36,Data Scientist,Noida,Ericsson
37,Global GI Data Scientist,Faridabad,Hitachi Energy
38,Senior Data Scientist,Noida,Innovaccer
39,Data Scientist,Noida,Times Internet

In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\new folder\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [35]:
driver = webdriver.Chrome()

In [36]:
driver.get("https://www.shine.com/")

In [37]:
designation = driver.find_element(By.CLASS_NAME,"styledcls_body_hidden " )
designation.send_keys('Data Analyst')

In [38]:
location = driver.find_element(By.XPATH,"/html/body")
location.send_keys('Bangalore')

In [39]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [40]:
job_title=[]
job_location=[]
company_name=[]
experienced_required=[]

In [43]:
title_tags = driver.find_elements(By.XPATH,'//strong[@class="jobCard_pReplaceH2__xWmHg"]')
for i in title_tags:
    title = i.text
    job_title.append(title)
    
location_tags = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]')
for i in location_tags:
    location = i.text
    job_location.append(location)

In [44]:
print(len(job_title),len(job_location))

20 20

In [45]:
import pandas as pd
df = pd.DataFrame({'Title': job_title,'Location':job_location})
df

,Title,Location
0,"Data Analyst , Senior Data Analyst , Data Anal...",Bangalore\n+8\n0 to 4 Yrs\n10 Positions
1,Data Analyst,Bangalore\n3 to 8 Yrs
2,Clinical Data Analyst,Bangalore\n+6\n0 to 1 Yr\n15 Positions
3,Data Analyst,Bangalore\n5 to 10 Yrs\n10 Positions
4,Clinical Data Analyst,Bangalore\n+6\n0 to 1 Yr\n15 Positions
5,Clinical Data Analyst,Bangalore\n+6\n0 to 1 Yr\n15 Positions
6,Data Analyst,Bangalore\n+18\n9 to 14 Yrs\n97 Positions
7,Lead Data Analyst,Bangalore\n+8\n5 to 9 Yrs
8,Lead Data Analyst,Bangalore\n+7\n5 to 9 Yrs
9,Data Analyst,Bangalore\n2 to 4 Yrs
10,Data Analyst,Bangalore\n4 to 5 Yrs
11,Data Analyst (Need Immediate Joiner),Bangalore\n+9\n0 to 4 Yrs\n95 Positions
12,Data Analyst (Need Immediate Joiner),Bangalore\n+9\n0 to 4 Yrs\n95 Positions
13,Data Analyst Opening,Bangalore\n+12\n0 to 4 Yrs\n99 Positions
14,Data Analyst Fresher and Experience Vacancy,Bangalore\n+12\n0 to 4 Yrs\n99 Positions
15,Business Analyst,Bangalore\n+6\n4 to 6 Yrs
16,Data Governance Analyst,Bangalore\n5 to 8 Yrs\n21 Positions
17,Data Management Analyst,Bangalore\n10 to 16 Yrs\n10 Positions
18,MIS Analyst,Bangalore\n8 to 13 Yrs
19,Business Operations Analyst,Bangalore\n+16\n10 to 20 Yrs\n99 Positions

In [41]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\new folder\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [47]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [51]:
driver = webdriver.Chrome()

In [52]:
driver.get("https://www.motor1.com/")

In [47]:
car_name=[]
car_price=[]

In [48]:
name_tags = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tags:
    name = i.text
    car_name.append(name)
    
price_tags = driver.find_elements(By.XPATH,'//strong["<strong>Price: $1.8 Million</strong>"]')
for i in price_tags:
    price = i.text
    car_price.append(price)

In [1]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\new folder\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get("https://www.flipkart.com/")

In [7]:
iphone_rating=[]
iphone_review=[]

In [8]:
rating_tags = driver.find_elements(By.XPATH,"//div[@class="XQDdHH"]")
for i in rating_tags:
    rating = i.text
    iphone_rating.append(rating)
    
review_tags = driver.find_elements(By.XPATH,"//p[@class="z9E0IG"]")
for i in review_tags:
    price = i.text
    iphone_review.append(review)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2303942683.py, line 1)

In [11]:
print(len(iphone_rating),len(iphone_review))

0 0

In [12]:
import pandas as pd
df = pd.DataFrame({'Rating': iphone_rating,'Review':iphone_review})
df

Empty DataFrame
Columns: [Rating, Review]
Index: []

In [13]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\new folder\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [14]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [15]:
driver = webdriver.Chrome()

In [16]:
driver.get("https://www.flipkart.com/")

In [17]:
sneaker_brand=[]
sneaker_productdesp=[]
sneaker_price=[]

In [27]:
brand_tags = driver.find_elements(By.XPATH,'//div[@class="syl9yP"]')
for i in brand_tags:
    brand = i.text
    sneaker_brand.append(brand)
    

    
price_tags = driver.find_elements(By.XPATH,'//div[@class="Nx9bqj"]')
for i in price_tags:
    price = i.text
    sneaker_price.append(price)

In [30]:
print(len(sneaker_brand),len(sneaker_price))

80 80

In [31]:
import pandas as pd
df = pd.DataFrame({'Brand': sneaker_brand,'Price':sneaker_price})
df

              Brand   Price
0            BRUTON    ₹320
1            Footox    ₹357
2          Red Tape  ₹1,059
3          Red Tape  ₹1,119
4          URBANBOX    ₹299
..              ...     ...
75         Roadster    ₹899
76        Deals4you    ₹379
77     chelsi shoes    ₹349
78             aadi    ₹349
79  U.S. POLO ASSN.  ₹1,037

[80 rows x 2 columns]

In [49]:
print(len(car_name),len(car_price))

0 30

In [50]:
import pandas as pd
df = pd.DataFrame({'name': car_name,'price':car_price})
df

ValueError: All arrays must be of the same length

In [53]:
driver = webdriver.Chrome()

In [55]:
driver.get("https://www.amazon.in/")

In [56]:
intel_title=[]
intel_ratings=[]
intel_price=[]

In [57]:
title_tags = driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags:
    title = i.text
    intel_title.append(title)
    
ratings_tags = driver.find_elements(By.XPATH,'//i[@class="a-icon a-icon-popover"]')
for i in ratings_tags:
    ratings = i.text
    intel_ratings.append(ratings)
    
price_tags = driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags:
    price = i.text
    intel_price.append(price)

In [58]:
print(len(intel_title),len(intel_ratings),len(intel_price))

16 15 19

In [59]:
 pandas as pd
df = pd.DataFrame({'title': intel_title,'ratings':intel_raimporttings,'price':intel_price})
df

ValueError: All arrays must be of the same length

In [60]:
driver = webdriver.Chrome()

In [61]:
driver.get("https://www.azquotes.com/")

In [62]:
quotes_name=[]
quotes_author=[]

In [63]:
name_tags = driver.find_elements(By.XPATH,'//p[@class="single-quote"]')
for i in name_tags:
    name = i.text
    quotes_name.append(name)
    
author_tags = driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags:
    author = i.text
    quotes_author.append(author)

In [65]:
print(len(quotes_name),len(quotes_author))

1 1

In [67]:
import pandas as pd
df = pd.DataFrame({'name':quotes_name,'author':quotes_author})
df

                                         name    author
0  He who avoids complaint invites happiness.  Abu Bakr

In [68]:
name_tags = driver.find_elements(By.XPATH,'//div[@class="content-slide content-slide_top"]')
for i in name_tags:
    name = i.text
    quotes_name.append(name)
    
author_tags = driver.find_elements(By.XPATH,'//div[@class="q_user"]')
for i in author_tags:
    author = i.text
    quotes_author.append(author)

In [69]:
print(len(quotes_name),len(quotes_author))

15 15

In [70]:
import pandas as pd
df = pd.DataFrame({'name':quotes_name,'author':quotes_author})
df

                                                 name        author
0          He who avoids complaint invites happiness.      Abu Bakr
1
2
3
4   You cannot create experience. You must undergo...  Albert Camus
5
6
7
8
9
10
11
12
13
14

In [71]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\lenovo\new folder\anaconda3\lib\site-packages (4.21.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (0.25.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from selenium) (4.12.0)
Requirement already satisfied: attrs>=23.2.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\lenovo\new folder\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [72]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [73]:
driver = webdriver.Chrome()

In [75]:
driver.get("https://www.jagranjosh.com/general-knowledge/list-of-all-prime-ministers-of-india-1473165149-1")